<h2>Administration</h2>
<a href='/'>Edit Gallery</a><br>
<%= link_to 'Change Password', password_admin_path %><br>
<%= link_to 'Change Info', info_artist_path %><br>
<%= button_to('Log out', '/logout', method: 'delete') %>
