#artist_info {
  margin-top: 2px;

  h2 {
    font-size: 1.7em;
  }

  #name {
    padding-bottom: 9px;
  }

  img {
    padding: 30px 0 10px;
  }

  #bio {
    padding-top: 10px;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;

    #bio_container {
      position: relative;
      float: left;
      left: 50%;
    }

    p {
      float: left;
      position: relative;
      left: -50%;
    }
  }

  #email {
    margin: 25px 0 9px 0;
  }
}

form[action="/artist"] input[type=submit] {
  margin-top: 20px
}
