// Place all the styles related to the Artworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#gallery {
  $img_dimensions: 200px;

  width: 888px;
  margin: 20px auto 0;

  .art {
    float: left;
    width: $img_dimensions;
    padding: 30px 10px 30px;

    .image {
      width: $img_dimensions;
      height: $img_dimensions;
    
      img {
         max-height: $img_dimensions;
         max-width: $img_dimensions;
      }
    }
  }
}
