// Place all the styles related to the Artworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$max_width: 990px;

.edit_links {
 margin-top: 17px;
}

nav {
  margin: 7px 0 -5px 0;

  a {
    line-height: 150%;
  }
}

#edit_artwork_image {
  width: 300px;
}

.artwork_form {
  line-height: 210%;
  padding-bottom: 20px;
}

#gallery {
  $img_dimensions: 200px;

  width: $max_width;
  margin: 20px auto 0;

  .art {
    float: left;
    width: $img_dimensions;
    padding: 30px 23px 30px;
    
    a { text-decoration: none; }

    .artwork_heading {
      height: 41px;
    }

    .image {
      width:  $img_dimensions;
      height: $img_dimensions;
      
      line-height: $img_dimensions;

      img {
         max-height: $img_dimensions;
         max-width:  $img_dimensions;
         vertical-align: middle;
      }
    }
  }
}

#single_art {
  padding-bottom: 25px;

  h2  { padding: 22px 0 22px }
  img { max-width: $max_width; }

  #description_of_artwork {
    padding: 10px 0 16px;
    width: 700px;
    text-align: left;
    margin: 0 auto;
  }
}
